
.cardClass {
    background-color: var(--cardBlue);
    width: 230px;
    height: 150px;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px;
   
  }
  
  .title {
    color: var(--cardTitle);
  }
  
  .cardHeader {
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
  }
  
  .cardHeader img {
    width: 30px;
    height: 30px;
    /* margin-right: 10px; */
  }
  
  .description {
    /* text-align: center; */
    color: var(--background-color);
  }
  
 