:root {
  --cardBlue: #112949;
  --cardTitle: #3cc3f2;
  --background-color: #ffffff;
  --buttonColor: #ea7b2c;
  --emailColor: #ababab;
}
.App {
  height: 100vh;
  width: 100vw;
  padding: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Exo 2", sans-serif;
  box-sizing: border-box;
}

.logo {
  width: 222px;
  height: 62px;
  opacity: 1;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.title-text {
  width: 100%;
  display: flex;
  justify-content: start;
  color: #112949;
  text-align: left;
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0px;

  opacity: 1;
}

.subtitle-text {
  width: 100%;
  font-weight: 300;
  display: flex;
  justify-content: start;
  text-align: left;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 0px;
  color: #112949;
  opacity: 1;
}

.formClass {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 40%;
  margin-right: 20px;

  font-family: "Exo 2", sans-serif;
}

.emailBox {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 5px;
}
.contact-button {
  width: 7rem;
  height: 2.5rem;
  margin: 4px;
  border: none;
  border-radius: 10px;
  background-color: var(--buttonColor);
  text-align: center;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
}
.emailBox input {
  width: 16rem;

  border: 1px solid #ababab;
  font-family: "Exo 2", sans-serif;

  padding: 10px;
  border-radius: 10px;
}
.successMessage {
  color: green;
  font-weight: 400;
  font-family: "Exo 2", sans-serif;
}
.errorMessage {
  color: red;
  font-weight: 300;
  font-family: "Exo 2", sans-serif;
}
@media (max-width: 480px) {
  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .logo {
    margin: auto;
  }
  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .formClass {
    width: 90vw;
    margin: auto;
    text-align: center;
  }

  .emailBox {
    flex-direction: column;
    position: absolute;
    top: 185%;
  }

  .emailBox input,
  .contact-button {
    width: 90vw;
  }
}

@media (min-width: 480px) and (max-width: 720px) {
  .App {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .formClass {
    width: 100%;
    margin: auto;
  }

  .emailBox {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .emailBox input,
  .contact-button {
    width: 90%;
  }
}

@media (min-width: 720px) and (max-width: 1080px) {
  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .formClass {
    width: 100%;
    margin: 0 auto;
  }

  .emailBox {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .emailBox input,
  .contact-button {
    width: 100%;
  }
}
